:80 {
	handle_path /movies/* {
		reverse_proxy jellyfin-movies:8096
	}
	handle_path /shows/* {
		reverse_proxy jellyfin-tvshows:8096
	}
	handle_path /music/* {
		reverse_proxy jellyfin-music:8096
	}
}
